@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --background: 90 10% 94%; /* light warm gray */
    --foreground: 90 10% 18%; /* dark warm gray */

    --card: 90 10% 99%; /* slightly lighter than background */
    --card-foreground: 90 10% 18%;

    --popover: 90 10% 98%; /* between card and background */
    --popover-foreground: 90 10% 18%;

    --primary: 90 10% 18%; /* same as foreground for max contrast */
    --primary-foreground: 90 10% 99%; /* white on primary */

    --secondary: 90 10% 90%; /* a little darker than card */
    --secondary-foreground: 90 10% 18%;

    --muted: 90 10% 85%; /* even darker, for muted backgrounds */
    --muted-foreground: 90 10% 40%; /* muted text */

    --accent: 90 10% 80%; /* a bit more color for accent */
    --accent-foreground: 90 10% 18%;

    --destructive: 0 70% 60%; /* accessible red */
    --destructive-foreground: 0 0% 100%;

    --border: 90 10% 80%; /* subtle border */
    --input: 90 10% 98%;
    --ring: 90 10% 70%;

    --radius: 0.2rem;

    --success: 140 40% 70%; /* soft green */
    --warning: 40 80% 80%; /* soft yellow */
    --error: 0 70% 60%; /* matches destructive */
  }

  [data-theme='dark'] {
    --background: 90 10% 30%; /* even lighter dark warm gray */
    --foreground: 90 10% 96%; /* very light warm gray */

    --card: 90 10% 38%; /* lighter than background */
    --card-foreground: 90 10% 99%;

    --popover: 90 10% 36%;
    --popover-foreground: 90 10% 99%;

    --primary: 90 10% 99%; /* high contrast */
    --primary-foreground: 90 10% 30%;

    --secondary: 90 10% 44%;
    --secondary-foreground: 90 10% 99%;

    --muted: 90 10% 50%;
    --muted-foreground: 90 10% 80%;

    --accent: 90 10% 54%;
    --accent-foreground: 90 10% 99%;

    --destructive: 0 70% 65%;
    --destructive-foreground: 0 0% 100%;

    --border: 90 10% 48%;
    --input: 90 10% 36%;
    --ring: 90 10% 60%;

    --radius: 0.2rem;

    --success: 140 40% 58%;
    --warning: 40 80% 62%;
    --error: 0 70% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

.footer-social-muted {
  filter: grayscale(5) brightness(0.3) opacity(0.7);
}
html[data-theme='dark'] .footer-social-muted {
  filter: none;
}
